* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* :root {
    --colour01: rgb(155, 255, 179);
    --colour02: rgb(235, 235, 235);
    --colour03: #fff;
    --Alien: rgb(27, 159, 47);
    --Human: rgb(17, 167, 157);
    --Humanoid: rgb(110, 199, 193);
    --unknown: rgb(17, 97, 167);
    --Poopybutthole: rgb(136, 185, 223);
    --Mythological-Creature: rgb(167, 145, 17);
    --Animal: rgb(80, 167, 17);
    --Robot: rgb(167, 100, 17);
    --Cronenberg: rgb(80, 17, 167);
    --Disease: rgb(125, 17, 167);
    --Planet: rgb(167, 17, 75);
} */

body {
    background-image: linear-gradient(to bottom right,
            rgb(0, 1, 3),
            rgb(0, 21, 80));

}

hr {
    border: 0.001rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* containers */
#container {
    width: 90%;
    display: block;
    margin: auto;
}

/* text */
.main-title {
    align-self: flex-start;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: var(--colour03);
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}



/* Arc Diagram */
.arc-container {
    margin: 0;
}

.planet-label,
.character-label,
.arc {
    cursor: pointer;
}

/* .arc {
    stroke: rgb(255, 255, 255);
    fill: none;
} */

/* .arc-text {
    opacity: 0.3;
    font-size: 0.3rem;
    font-weight: 100;
    fill:#fff;
    cursor: pointer;

}
.arc-text:hover {
    opacity: 1;
    font-size: 0.6rem;
} */


/* POPUP    - - - - - - - - - - - - - - - - - - - - - */
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    width: 60%;
    height: 45%;
    border-radius: 5px;
    align-items: center;
}

.characters{
    cursor: pointer;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 1.1rem;
    font-weight: 200;
    opacity: 30%;
    color: white;
}

.popup-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5%;
}

.popup-content-div {
flex-grow: 1;
    color: white;
}

.popup-image{
    flex-grow: 0.5;
    height: 40vh;
    object-fit:cover;
    overflow: hidden;
    margin-right: 2rem;
}


.popup-char-name {
    /* width: 100%; */
    font-size: 1.5rem;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}


.bubble {
    transition: all .05s ease-in-out;
}

.bubble:hover {
    fill: var(--colour01);
    stroke: var(--colour01);
    stroke-width: 5px;
}

#legend {
    display: flex;
    justify-content: space-between;
}

.legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.checkbox {}

.legend-text {
    font-size: 0.8rem;
    color: white;
    padding-left: 0.5rem;
}