* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;

}

body {
    background-image: linear-gradient(to bottom right,
            rgb(0, 1, 3),
            rgb(0, 21, 80));
}
/* .material-icons{
    color: white !important;
} */
.input-field{
    color: white ;
}

/* containers */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.input-field {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding:1rem; */
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
    margin:auto;
    width: 80%;
}

#grid-diagram{
    height: 60vh;
}

/* text */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("/links/header.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 4rem;
    font-weight: 900;
}

h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.quote{
    color:white;
    text-align: center;
}

/* Arc Diagram */
.arc-container {
    margin: 0;
}

.planet-label,
.character-label,
.arc {
    cursor: pointer;
}


/* POPUP    - - - - - - - - - - - - - - - - - - - - - */
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    -webkit-backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    width: 70%;
    /* max-width: 90vh; */
    /* min-width: 75vh; */
    max-height: 65vh;
    border-radius: 5px;
    overflow: hidden;
}

.characters {
    cursor: pointer;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1.1rem;
    font-weight: 200;
    opacity: 30%;
    color: white;
}

.popup-container {
    display: flex;
    width: 100%;
    max-height: 100%;
    padding: 5%;
    /* border: 1px solid blue; */
    justify-content: space-between;
}

.popup-image-div {
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* border: 1px solid green; */
    width: 50%;

}

.popup-content-div {
    color: white;
    /* border: 1px solid red; */
    width: 45%;
}

.popup-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.popup-char-name {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
}

.popup-char-info {
    /* border: 1px solid blue; */
    font-weight: 200;
    margin-bottom: 0.5rem;
    max-height: 25vh;
    overflow-y: scroll;
}

.popup-char-info-bold {
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;

}

.popup-char-episodes {
    max-height: 100%;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}


.bubble {
    transition: all .05s ease-in-out;
}

.bubble:hover {
    fill: var(--colour01);
    stroke: var(--colour01);
    stroke-width: 5px;
}

#search{
    width: 80%;
}

#legend {
    display: flex;
    justify-content: space-between;
}

.legend-item{
    display: flex;
    justify-content: top;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
width: 5rem;}

.legend-text {
    font-size: 0.8rem !important;
    line-height: normal !important;
}